<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>My password meter</title>

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.js"></script>

	<script type="text/javascript" src="app/services/services.js"></script>
	<script type="text/javascript" src="app/controllers/public.module.js"></script>
	<script type="text/javascript" src="app/controllers/main.controller.js"></script>


</head>
<body>
	<div class="container" ng-controller="mainCtrl">

		<div class="row">
			<div class="col-md-5 col-md-offset-4">
				<h1><span class="glyphicon glyphicon-lock"></span> My Password meter</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<hr>
				<form role="form" novalidate>
					<div class="form-group">
						<label for="pwd">Type your password</label>
						<input type="{{input_type}}" class="form-control" id="pwd" ng-model="user.password">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-click="show_password()"> Show password
						</label>
					</div>
				</form>

				<div class="progress">
					<div ngclass="bar_color" role="progressbar" aria-valuenow="{{password_strengh}}" aria-valuemin="0" aria-valuemax="100" style="width: {{password_strengh}}%">
					</div>
				</div>

				<div class="panel panel-danger">
					<div class="panel-heading">Requirements</div>
					<div class="panel-body">
						<p>...</p>
					</div>
				</div>
				
			</div>
		</div>

	</body>
	</html>